.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#datetime-picker {
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    border: 1px solid #808080;
}

#datetime-picker:hover {
    border: 1px solid #000
}

#datetime-picker:focus {
    outline: none;
    border-color: blue;
}

.title-box {
    display: flex;
    gap: 8px;
}



.timer {
    display: flex;
    margin-top: 32px;
    gap: 24px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}

button {
    cursor: not-allowed;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    background-color: #cfcfcf;
}

.button-active {
    cursor: pointer;

    background-color: #4e75ff;
    color: #fff;
    transition: background-color 300ms ease-in-out;
}

.button-active:hover {
    background-color: #6c8cff;
}